#Qt IDE user file
*.user

#Qt build files
/build-Server-application-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/*
/build-Server-application-Desktop_Qt_5_12_1_MinGW_64_bit-Debug/*
/build-Server-application-Desktop_Qt_5_12_1_MinGW_64_bit-Profile/*
/build-Server-application-Desktop_Qt_5_12_3_MSVC2017_64bit-Debug/*
/build-Server-application-Desktop_Qt_5_12_3_MinGW_64_bit-Release/*

#Arduino libraries examples
/SwarmboTron/lib/FastLED/examples/*
/SwarmboTron/lib/FastLED/examples/*
/SwarmboTron/lib/RemoteDebug/examples/*

#VS-Code folder
/SwarmboTron/.vscode/*
/Server-application/.vscode/*
